<center><strong><u>Welcome to Messege Me App</u></strong></center>
<br></br>

<center><table >
  <tr>
  <td><label>Email   :  </label><?td>

    <td><input type="text"><td>
</tr>
<tr>
  <td>
  <label>Password :</label></td>
  <td><input type="password"></td>
</tr>
<tr><td></td>
<td><button>login</button></td>
</tr>
</table>

  you dont have account sign up <br>
  <u>Sign Up</u>
