<h2> welcome to home </h2>


<div style="color:red;text-align:center;float:right;border:2px solid black;width:350px;height:360px;margin-right:220px">Friends 
  messages<br>Home

  </div>
  <div style="color:blue;float:left;border:2px solid blue;height:360px;width:450px;margin-left:120px">hv
    <div style="padding-top:310px;padding-left:10px"><input><i class="fa fa-edit"> </i></div>
    </div>
